{% load staticfiles %}
<!doctype html>
<html>
  <head>
    <title>My first Django site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style type="text/css">
      body { background: rgba(200,200,200,0.8) !important; }
      nav { background: rgba(256,256,256,1) !important; }
      .post_title { text-decoration: none }
    </style>
  </head>
  <body>
    <nav class="navbar navbar">
      <div>
        <a class="navbar-brand" href="/">My first Django website</a>
      </div>
      <ul class="nav navbar-nav">
        {% if user.is_authenticated %}
        <li>
          <a href="{% url 'post_new' %}" class="top-menu">New Post</a>
        </li>
        <li>
          <a href="{% url 'logout' %}" class="top-menu">Logout</a>
        </li>
        {% else %}
        <li>
          <a href="/accounts/login/" class="top-menu">Login</a>
        </li>
        <li>
          <a href="{% url 'registration_register' %}" class="top-menu">Register</a>
        </li>
        {% endif %}

      </ul>
    </nav>

    <div class="content container">
      <div class="row">
        <div class="col-md-8">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>
